* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, sans-serif;
  font-size: 16px;
  line-height: 1.5;
  color: #333;
}

header {
  background-color: #0e9186;
  padding: 20px;
}

header h1{
  color: #f1f1f1;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo a {
  font-size: 32px;
  font-weight: bold;
  color: #ffffff;
  text-decoration: none;
}

.menu {
  display: flex;
  list-style: none;
}

.menu li {
  margin-left: 20px;
}

.menu a {
  font-size: 24px;
  font-weight: bold;
  color: #ffffff;
  text-decoration: none;
  transition: all 0.3s ease-in-out;
}

.menu a:hover {
  color: #006663;
}

.menu-icon {
  display: none;
  cursor: pointer;
  font-size: 24px;
  color: #ffffff;
}

::-webkit-scrollbar {
  height: 8px;
}
::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 25px;
}
::-webkit-scrollbar-thumb {
  background: #6e93f7;
  border-radius: 25px;
}
::-webkit-scrollbar-thumb:hover {
  background: #4070f4;
}

#proyectos {
  background-color: #ffffff;
  padding: 40px;
}

#proyectos h2 {
  font-size: 36px;
  font-weight: bold;
  margin-bottom: 20px;
}

.projects {
  background-color: #b7b7b7;
  display: flex;
  margin: 50px auto;
  gap: 12px;
  max-width: 500px;
  width: 100%;
  border-radius: 12px;
  padding: 30px;
  scroll-snap-type: x mandatory;
  overflow-x: scroll;
  scroll-padding: 30px;
  box-shadow: 0 15px 25px rgba(0, 0, 0, 0.1);
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px;
  border-radius: 12px;
  background: #fff;
  scroll-snap-align: start;
  box-shadow: 0 15px 25px rgba(0, 0, 0, 0.1);
}
.card .image {
  height: 150px;
  width: 150px;
  padding: 4px;
  background: #4070f4;
  border-radius: 50%;
}
.image img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 50%;
  border: 5px solid #fff;
}
.card h3 {
  margin-top: 22px;
  color: #333;
  font-size: 18px;
  text-align: center;
}
.card p {
  margin-top: 4px;
  font-size: 14px;
  font-weight: 400;
  color: #333;
  text-align: center;
}

.card a{
  color: #4070f4;;
  text-decoration: none;
  font-weight: bold;
}

.card a:hover{
  color: #93abec;;
}

#contacto {
  background-color: #f2f2f2;
  padding: 40px;
  font-weight: bold;
}

#contacto h2 {
  font-size: 36px;
  font-weight: bold;
  margin-bottom: 20px;
}

#contacto ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

#contacto li {
   display: inline-block;
  margin-bottom: 10px;
  margin-right: 90px;
}

#contacto a {
  color: #1b1b1c;
  text-decoration: none;
}

#contacto a:hover {
 color: #b7b7b7;
}

@media screen and (max-width: 768px) {
  header {
    display: flex;
    justify-content: space-between;
  }

  .menu-icon {
    display: block;
    float: right;
    font-size: 24px;
    margin-right: 20px;
    cursor: pointer;
   }
 
  .menu {
     display: none;
     position: absolute;
     top: 60px;
     left: 0;
     right: 0;
     background-color: #0e9186;
     padding: 20px;
     z-index: 1;
   }
 
  .menu a {
     display: block;
     margin-bottom: 10px;
   }
 
  .menu a.active {
     background-color: #006663;
   }
 
  .menu-icon:hover {
     color: #006663;
   }
 
  .menu-active {
     display: block;
   }
 
  .projects {
     flex-direction: column;
   }
 
  .card {
     margin-bottom: 20px;
   }
 
  .social-icons {
     display: flex;
     justify-content: center;
     align-items: center;
   }
 
  .social-icons a {
     display: inline-block;
     margin-right: 10px;
   }

   #contacto ul {
   text-align: center;
 }
 
   #contacto li {
   margin-right: 50px;
 }

   footer {
     bottom: 0;
     left: 0;
     right: 0;
     background-color: #0e9186;
     padding: 20px;
     color: #ffffff;
     text-align: center;
   }
 }

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

#sobremi {
  background-color: #f2f2f2;
  padding: 40px;
}

#sobremi h2 {
  font-size: 36px;
  font-weight: bold;
  margin-bottom: 20px;
}

#sobremi p {
  font-size: 24px;
  margin-bottom: 20px;
}

footer{
  margin-top: 5px;
}

